


/* Generic tag stylings */

body, html {
    background-color: #172f6b;
    margin: 0;
    height: 100%;
}

a {
    text-decoration: none;
    color: #efefef;
}

p {
    font-family: proxima-nova, sans-serif;
    font-weight: lighter;
}

a:hover {
    color: orangered;
    transform: scale(1.05);
}

li {
    list-style-type: none;
    font-style: italic;
    font-size: 16px;
}

/* FONTS */

@font-face {
    font-family: title-font;
    src: url("fonts/manrope-bold.otf") format('opentype');
}

@font-face {
    font-family: review-title;
    src: url("fonts/Moon2.0-Light.otf") format('opentype');
}
@font-face {
    font-family: nav-link-font;
    src: url("fonts/manrope-thin.otf") format('opentype');
}

@font-face {
    font-family: sitewide-serif;
    src: url("fonts/Ledger-Regular.ttf") format('truetype');
}

/* REVIEW PAGES */

#review {
    line-height: 2;
}

#review-title {
    animation: fade-in 2.5s;
    font-family: review-title, sans-serif;
    text-align: center;
    font-size: 50px;
    letter-spacing: 15px;
    word-spacing: 15px;
}

#review-opening {
    font-size: 20px;
    font-style: italic;
    text-align: center;
}

.decorative-dashes {
    color: orangered;
    font-size: 30px;
    text-align: center;
    margin: 0;
}

#spoiler-warning {
    font-size: 20px;
    text-align: center;
    font-style: italic;
    margin-bottom: 3rem;
}

#star-rating-container {
    margin: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.star {
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 1));
    width: 65px;
    height: 65px;
}

@keyframes star-fade {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes slide-in {
    from {
        opacity: 0;
        transform: translate(-5%, 0);
    }
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

#review-container, #subtitle, #king-quote, #king-name {
    animation: fade-in 1s;
}

.star-1 {
    animation-name: star-fade;
    animation-duration: 1.7s;
    animation-fill-mode: backwards;
}

.star-2 {
    animation-name: star-fade;
    animation-duration: 1.7s;
    animation-delay: 0.2s;
    animation-fill-mode: backwards;
}

.star-3 {
    animation-name: star-fade;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
}

.star-4 {
    animation-name: star-fade;
    animation-duration: 1.7s;
    animation-delay: 0.8s;
    animation-fill-mode: backwards;
}

#main-container {
    width: 69%;
    margin: 0 auto;
    justify-content: center;
    background-color: white;
}

#subtitle {
    font-size: 27px;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid orangered;
}

#page-text {
    margin: 3rem 5rem;
}

#king-quote {
    font-size: 20px;
    font-style: italic;
    padding-bottom: 2rem;
    padding-top: 1.5rem;
}

#movie-list {
    margin: 1.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    animation: slide-in 0.5s;
    animation-fill-mode: forwards;
}

.alphabet-section {
    width: 47%;
    padding: 0.5rem;
    border-left: 1px solid orangered;
}

#king-name {
    font-size: 18px;
    font-style: italic;
    text-align: right;
    padding-right: 3rem;
    padding-bottom: 3rem;
}

#site-content {
    color: #efefef;
    height: 100%;
    padding: 1rem 3rem;
    border-top: 3px solid orangered;
    background-color: #071842;
    box-shadow: inset 0 0 16px rgba(0, 0, 0, 0.8);
}

/* The hero image */
#alec-banner-photo {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./media/alec_banner_wide.jpg);
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#review-banner {
    margin-top: 2rem;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-top: 1px solid orangered;
    border-bottom: 1px solid orangered;
    box-shadow: inset 0 0 40px rgba(0, 0, 0, 1);
}


#index-container {
    display: flex;
    width: 100%;
    background-color: white;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}

.banner-container {
    flex-direction: row;

}

.letter {
    font-family: title-font, sans-serif;
}

#nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    animation: fade-in 2s;
}

.nav-link {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: nav-link-font, sans-serif;
    font-size: 18px;
    border: 1px solid orangered;
    padding: 0 10px;
}

.nav-link:hover {
    border: 1px solid #1c3996;
    transform: scale(1.1);
}

/* MEDIA QUERIES */

@media (min-width: 551px) {
    .site-title-container {
        background-color: #071842;
        padding: 17px;
        box-shadow: 0 0 10px black;
        position: absolute;
        top: 150px;
        left: 30vw;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 50px;
        font-family: title-font, sans-serif;
    }
}

@media(min-width: 1201px) {
    #review-banner {
        border: 1px solid orangered;
    }
}

@media(max-width: 1200px) {
    #site-content {
        padding: 0;
    }

    #page-text {
        margin: 2rem 1rem;
    }

    #main-container {
        width: 90%;
    }
}

@media(max-width: 700px) {
    #subtitle {
        font-size: 20px;
    }
    #king-quote {
        font-size: 15px;
    }
    .site-title-container {
        font-size: 30px;
    }

    .alphabet-section {
        width: 100%;
    }
    li {
        font-size: 14px;
    }
    .star {
        height: 50px;
        width: 50px;
    }
}

@media(max-width: 960px) and (min-width: 701px) {
    #alec-banner-photo {
        height: 235px;
    }
    .site-title-container {
        font-size: 38px;
    }
}

@media(max-width: 750px) {
    #review-opening {
        font-size: 18px;
    }
    #review {
        font-size: 16px;
    }
}


@media(max-width: 550px) {

    #alec-banner-photo {
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(./media/alec_banner_wide.jpg);
    }

    #review-banner {
        height: 160px;
    }

    .site-title-container {
        background-color: #0e3084;
        padding: 17px;
        box-shadow: 0 0 10px black;
        color: white;
        font-size: 25px;
        font-family: title-font, sans-serif;
    }
    #review-opening {
        font-size: 16px;
    }

    #spoiler-warning {
        font-size: 15px;
    }

    #review-title {
        font-size: 35px;
        word-spacing: 0;
        letter-spacing: 3px;
    }

    #alec-banner-photo {
        height: 180px;
    }

    #review {
        font-size: 14px;
    }

    #main-container {
        width: 100%;
    }

    #site-content {
        margin-bottom: 0;
        border: 0;
    }

    .star {
        height: 50px;
        width: 50px;
    }
}
